.icons{
    display:flex;
    justify-content:space-around;
}
.navbar-items{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.gallery{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.pictures{
    display:flex;
    flex-wrap:wrap;
}